*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.encabezado {

    background-color: #004797;
    display: flex;
    height: 120px;
    justify-content: center;
    gap: 60px;
}

.img-logo {
    width: 250px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.buscar_encabezado {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}


.opciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor1 {
    margin-top: 70px;
    display: flex;
    gap: 40px;
}

.opciones-cuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones-cuenta a {
    text-decoration: none;
    color: white;
}

.color{
    color: white;
}

.productos{
    display: flex;
    gap: 25px;
    list-style: none;
    color: #004797;
    justify-content: center;
}

.links3{
    margin-top: 1px;

}

.img_productos{
    display: flex;
    background-color: rgb(243, 243, 243);
    margin-top: 8px;
}

.img_promo{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.elementos{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.objetos img{
    margin-top: 20px;
    background-color: white;
    width: 100px;
    height: 120px;
    margin-left: 15px;
    border-radius: 10px;
}


